nav {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.acm-logo {
	height: 60px;
}

#place-tags {
	text-align: center;
}

.row {
	margin: 0;
}

html, body {
	height: 100%;
}

.p-right {
	padding: 0px !important;
}

.p-left {
	padding-top: 10px !important;
	overflow-y: auto !important;
}

.dir-heading {
	font-weight: 300 !important;
}

.fields {
	margin-bottom: 15px;
}

.cache-heading {
	margin-bottom: 0px;
	font-weight: 300;
}

.des-line {
	font-weight: 300;
	margin-bottom: 30px;
}

@media only screen and (min-width: 800px) {
	.p-left {
		margin-bottom: 15px !important;
	}

	.des-line {
		margin-bottom: 0px !important;
	}
}